@import '../../../../styles/variables';

.this_day_info {
	position: relative;
	display: flex;
	box-sizing: border-box;
	padding: 40px 30px;
	max-width: 750px;
	width: 100%;
	height: 300px;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}
.this_day_info__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.item {
	display: flex;
	align-items: center;
	column-gap: 20px;
	z-index: 2;
	.indicator {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FFFFFF;
		box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
		border-radius: 50%;
		width: 38px;
		height: 38px;
	}
	.indicator__name {
		font-weight: 400;
		font-size: 14px;
		color: $lite-gray;
		width: 100px;
	}
	.indicator__value {
		font-weight: 400;
		font-size: 14px;
	}
}
.cloud {
	position: absolute;
	top: 0;
	right: 0;
}